{% extends '::base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />

<br>
<section id="content-wrapper">

    <!-- .container_12 start -->
    <div class="container_12">

            <section class="entry-note">
                <h1>Apply to <span class="text-color">{{ mc.name }}</span>. Lorem Ipsum Goes Here.</h1>
            </section>

            <!-- .entry-note start -->

            <article class="grid_6">
                <form action="{{ path('_kw_mc_apply', {'uid': mc.uid}) }}" method="post" {{ form_enctype(form) }} class="Apply wpcf7">
                    {{ form_errors(form.firstName) }}
                    {{ form_errors(form.lastName) }}
                    {{ form_errors(form.email) }}
                    {{ form_errors(form.phoneNumber) }}
                    {{ form_errors(form) }}

                    <fieldset>
                        {{ form_label(form.firstName, '*First Name:') }}
                        {{ form_widget(form.firstName, { 'attr': {'class': 'wpcf7-text'}}) }}
                    </fieldset>
                    <fieldset>
                        {{ form_label(form.lastName, '*Last Name:') }}
                        {{ form_widget(form.lastName, { 'attr': {'class': 'wpcf7-text'}}) }}
                    </fieldset>
                    <fieldset>
                        {{ form_label(form.email, '*E-Mail:') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'wpcf7-text'}}) }}
                    </fieldset>
                    <fieldset>
                        {{ form_label(form.phoneNumber, '*Phone Number:') }}
                        {{ form_widget(form.phoneNumber, { 'attr': {'class': 'wpcf7-text'}}) }}
                    </fieldset>

                    {#{{ form_label(form.group, '*Group:') }}#}
                    {#{{ form_widget(form.group, { 'attr': {'class': 'select_group'}, 'empty_value': '-- Add to Group --' }) }}#}

                    {{ form_rest(form) }}

                    <input type="submit" value="Apply!" class="wpcf7-submit"/>
                </form>
        </article>
        <article class="grid_6">
            <p>Reason to apply here</p>
        </article>

    </div>

</section>

{% endblock %}
{% block javascripts %}
{% endblock %}