<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Keller Williams - Marketing in a Box{% endblock %}</title>
    <meta name="author" content="Keller Williams Realty">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">


    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/css/basic.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/css/red.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/css/prettyPhoto.css') }}" media="screen" />

    <!-- revolution slider settings -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kellerwilliamsmarketingbox/rs-plugin/css/settings.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kellerwilliamsmarketingbox/rs-plugin/css/revolution.css') }}" media="screen" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

    <!-- Icons -->
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/pixons/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/font-awesome/css/font-awesome.min.css') }}" />

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/kellerwilliamsmarketingbox/js/html5shiv.js') }}"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/kellerwilliamsmarketingbox/js/selectivizr-min.js') }}"></script>
    <![endif]-->

    <!--[if IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/kellerwilliamsmarketingbox/css/ie8.css') }}'" media="screen" />
    <![endif]-->

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
    <body>

        <section id="header-wrapper" class="clearfix">
            <!-- #header start -->
            <header id="header" class="clearfix">

                <!-- #logo start -->
                <section id="logo">
                    <a href="index.html">
                        <img src="http://www.kw.com/images/kw_images/KW_email_Signature_10-18-2013.png" alt="logo">
                    </a>
                </section><!-- #logo end -->

                <!-- contact-info-container -->
                <section id="contact-info-container">
                    <ul class="info">
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Login</a> |
                            <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                        </li>
                    </ul>

                    <ul class="social-links">
                        <li><a href="#" class="pixons-youtube"></a></li>
                        <li><a href="#" class="pixons-facebook-1"></a></li>
                        <li><a href="#" class="pixons-twitter-1"></a></li>
                    </ul>
                </section><!-- .contact-info-container end -->
            </header><!-- #header end -->

            <!-- #nav-container start -->
            <section id="nav-container">

                <section class="container_12">
                    <section class="grid_12">
                        <!-- #nav start -->
                        <nav id="nav">
                            <ul style="display: none;">
                                <li class="current-menu-item">
                                    <span class="nav-icon icon-desktop"></span>
                                    <a href="{{ path('_home') }}">Home</a>
                                </li>

                                <li>
                                    <span class="nav-icon icon-camera"></span>
                                    <a href="#">Collateral</a>
                                    <ul style="visibility: hidden; display: block;">
                                        <li><a href="portfolio1.html">Business Cards</a></li>
                                        <li><a href="portfolio2.html">Flyers</a></li>
                                        <li><a href="portfolio2-alt.html">Postcards</a></li>
                                        <li><a href="portfolio3.html">Brochures</a></li>
                                        <li><a href="portfolio3-alt.html">Door Hangers</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span class="nav-icon icon-home"></span>
                                    <a href="#">Property Marketing</a>

                                    <ul style="display: none;">
                                        <li><a href="blog.html">Advanced Analytics</a></li>
                                        <li><a href="blog-alt.html">eEdge Integration</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span class="nav-icon icon-cogs"></span>
                                    <a href="#">Shortcodes</a>
                                    <ul style="visibility: hidden; display: block;">
                                        <li><a href="shortcodes.html">Page elements</a></li>
                                        <li><a href="#">Third level</a>
                                            <ul style="display: none;">
                                                <li><a href="#">Menu item</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <span class="nav-icon icon-shopping-cart"></span>
                                    <a href="contact.html"><b>Sign Up Today</b></a>
                                </li>
                            </ul>
                        </nav><!-- #nav end -->

                        <!-- responsive navigation start -->
                        <select id="nav-responsive">
                            <option selected="" value="">Site Navigation...</option>

                            <option value="index.html">Home version 1</option>

                            <option value="about.html">About us</option>
                            <option value="services.html">Services</option>
                            <option value="faq.html">FAQ Page</option>
                            <option value="page-sidebar-left.html">Page sidebar left</option>
                            <option value="page-sidebar-right.html">Page sidebar right</option>
                            <option value="pricing.html">Pricing tables</option>

                            <option value="portfolio1.html">Portfolio 1 column</option>
                            <option value="portfolio2.html">Portfolio 2 columns</option>
                            <option value="portfolio2-alt.html">Portfolio 2 alternative</option>
                            <option value="portfolio3.html">Portfolio 3 columns</option>
                            <option value="portfolio3-alt.html">Portfolio 3 alternative</option>
                            <option value="portfolio4.html">Portfolio 4 columns</option>
                            <option value="portfolio4-alt.html">Portfolio 4 alternative</option>
                            <option value="portfolio-gallery.html">Portfolio gallery</option>
                            <option value="portfolio-single.html">Portfolio single</option>

                            <option value="blog.html">Blog default</option>
                            <option value="blog-alt.html">Blog alternative</option>
                            <option value="blog-single.html">Blog single</option>

                            <option value="shortcodes.html">Shortcodes</option>
                            <option value="contact.html">Contact</option>
                        </select><!-- responsive navigation end -->

                        <section id="search-box">
                            <form action="#" method="get">
                                <input id="m_search" name="s" type="text" placeholder="Type and hit enter...">
                                <input class="search-submit" type="submit">
                            </form>
                        </section>
                    </section><!-- .grid_12 end -->
                </section><!-- .container_12 end -->

            </section><!-- #nav-container end -->
        </section>

        <div class="top-shadow"></div>
        {% block body %}{% endblock %}

        <div id="footer-wrapper" class="clearfix">

            <!-- #footer -->
            <footer id="footer" class="container_12">


                <!-- .footer-widget-container start -->
                <ul class="footer-widget-container grid_3">
                    <!-- .widget pi_recent_posts start -->
                    <li class="widget pi_recent_posts">
                        <div class="title">
                            <h5>latest posts</h5>
                        </div>

                        <ul class="footer-blog">
                            <li>
                                <div class="meta">
                                    <a class="icon-edit"></a>
                                </div>

                                <div class="post">
                                    <a href="blog-single.html"> Nam libero tempore, </a>
                                    <p class="info">26 MARCH 2013, <a href="blog-single.html">0 COMMENTS</a></p>
                                </div>
                            </li>

                            <li>
                                <div class="meta">
                                    <a class="icon-link"></a>
                                </div>

                                <div class="post">
                                    <a href="blog-single.html">Temporibus autem quibusdam, </a>
                                    <p class="info">26 MARCH 2013, <a href="blog-single.html">2 COMMENTS</a></p>
                                </div>
                            </li>

                            <li>
                                <div class="meta">
                                    <a class="icon-camera"></a>
                                </div>

                                <div class="post">
                                    <a href="blog-single.html">Excepteur sint occaecat cupid, </a>
                                    <p class="info">26 MARCH 2013, <a href="blog-single.html">2 COMMENTS</a></p>
                                </div>
                            </li>
                        </ul>


                    </li><!-- .widget pi_recent_posts end -->
                </ul><!-- .footer-widget-container end -->

                <!-- .footer-widget-container start -->
                <ul class="footer-widget-container grid_3">

                    <!-- .widget.widget_text start -->
                    <li class="widget widget_text">
                        <div class="title">
                            <h5>get in touch</h5>
                        </div>
                        <p>
                            If you have any questions don't hesitate to contact us
                        </p>

                        <br>

                        <ul class="contact-info">
                            <li class="address">
                                <p>Address: Some street 123, Manhattan, New York, USA</p>
                            </li>

                            <li class="phone">
                                <p>Telephone: +00 123 5874</p>
                            </li>

                            <li class="mail">
                                <p>Email: <a href="mailto:support@pixel-industry.com">info@business.com</a></p>
                            </li>
                        </ul>
                    </li><!-- .widget.widget_text end -->
                </ul><!-- .footer-widget-container end -->

                <!-- .footer-widget-container start -->
                <ul class="footer-widget-container grid_3">

                    <!-- .widget.widget_text start -->
                    <li class="widget widget_text">
                        <div class="title">
                            <h5>newsletter subscribe</h5>
                        </div>

                        <p>
                            Stay up to date with latest news from our company.
                            We promise we won’t spam you.
                        </p>

                        <br>

                        <form class="newsletter">
                            <input type="email" class="email" placeholder="Enter your email here...">
                            <input type="submit" class="submit" value="SEND">
                        </form>
                    </li><!-- .widget.widget_text end -->

                </ul><!-- footer-widget-container end -->
            </footer><!-- #footer end -->

            <!-- .container_12.copyright-container start -->
            <div class="container_12 copyright-container">

                <!-- .grid_12 start -->
                <div class="grid_12" style="margin-bottom: 0px;">

                    <div class="grid_6 alpha">
                        <p>
                            Copyright Metropolis 2013. Designed by Pixel industry. All rights reserved.
                        </p>
                    </div>

                    <div class="grid_6 omega">
                        <ul class="footer-breadcrumbs">
                            <li>
                                <a href="index.html">Home</a>
                            </li>

                            <li>
                                <a href="about.html">About</a>
                            </li>

                            <li>
                                <a href="portfolio1.html">Portfolio</a>
                            </li>

                            <li>
                                <a href="blog.html">Blog</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div><!-- .grid_6 omega end -->
                </div><!-- .grid_12 end -->
            </div><!-- .container_12.copyright-container end -->
        </div>

        <!-- scripts -->
        <script  src="{{ asset('bundles/kellerwilliamsmarketingbox/js/jquery-1.8.3.js') }}"></script> <!-- jQuery library -->
        <script  src="{{ asset('bundles/kellerwilliamsmarketingbox/js/jquery.placeholder.min.js') }}"></script><!-- jQuery placeholder fix for old browsers -->
        <script  src="{{ asset('bundles/kellerwilliamsmarketingbox/js/jquery.carouFredSel-6.0.0-packed.js') }}"></script><!-- CarouFredSel carousel plugin -->
        <script  src="{{ asset('bundles/kellerwilliamsmarketingbox/js/jquery.nivo.slider.js') }}"></script><!-- nivo slider -->
        <script  src="{{ asset('bundles/kellerwilliamsmarketingbox/js/jquery.touchSwipe-1.2.5.js') }}"></script><!-- support for touch swipe on mobile devices -->
        <script  src="{{ asset('bundles/kellerwilliamsmarketingbox/js/include.js') }}"></script> <!-- jQuery custom options -->

        {% block javascripts %}{% endblock %}

    </body>
</html>
