{% extends '::platform/layout.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}


   <div class="container-fluid container-fixed-lg sm-p-l-5">
      <h1>{{ applicant.name }}</h1>
      <div class="timeline-container top-circle">
         <section class="timeline">
            <div class="timeline-block">
               <div class="timeline-point info">
                  <i class="pg-map"></i>
               </div>
               <!-- timeline-point -->
               <div class="timeline-content">
                  <div class="card share full-width">
                     <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                     </div>
                     <div class="card-header clearfix">
                        <h5>Filled Out Form Online</h5>
                        <h6>
                           <span class="location semi-bold">
                              <i class="fa fa-map-marker"></i>
                              {{ applicant.marketCenter.name }} Landing Page</span>
                        </h6>
                     </div>
                     <div class="card-description">
                        <ul>
                           <li>First Name: <b>{{ applicant.firstName }}</b></li>
                           <li>Last Name: <b>{{ applicant.lastName }}</b></li>
                           <li>E-Mail: <b>{{ applicant.email }}</b></li>
                           <li>Phone: <b>{{ applicant.phoneNumber }}</b></li>
                        </ul>
                        <div class="via">{{ applicant.createdAt|ago }}</div>
                     </div>
                  </div>
                  <div class="event-date">
                     <h6 class="font-montserrat all-caps hint-text m-t-0">{{ applicant.firstName }}'s Journey Started</h6>
                     <small class="fs-12 hint-text">{{ applicant.createdAt|ago }}</small>
                  </div>
               </div>
               <!-- timeline-content -->
            </div>

            {# let's build the timeline based on ApplicantEvents #}
            {% if events is iterable %}
               {% for event in events %}

                  {% if event.changeInScore > 0.1 %}
                     {% set styleClass = 'success' %}
                  {% elseif event.changeInScore < 0 %}
                     {% set styleClass = 'warning' %}
                  {% else %}
                     {% set styleClass = 'default' %}
                  {% endif %}

                  <div class="timeline-block">
                     <div class="timeline-point {{ styleClass }}">
                        <i class="pg-social"></i>
                     </div>
                     <!-- timeline-point -->
                     <div class="timeline-content">
                        <div class="card share full-width ">
                           <div class="card-header clearfix">
                              <h5 class="text-{{ styleClass }}-dark pull-left fs-12">
                                 {{ event.title }}
                                 <i class="fa fa-circle text-{{ styleClass }}-dark fs-11"></i>
                              </h5>
                              <div class="clearfix"></div>
                           </div>
                           <div class="card-description">
                              <h5 class='hint-text no-margin'>{{ event.description }}</h5>
                              <h3><span class="text-info">Change to Score</span>:
                                 {% if event.changeInScore > 0 %}
                                    <span class="text-success">
                                       <i class="fa fa-sort-up small text-success"></i>
                                       {{ (event.changeInScore*100)|number_format }}%
                                    </span>
                                 {% elseif event.changeInScore < 0 %}
                                    <span class="text-danger">
                                    <i class="fa fa-sort-down small text-danger"></i>
                                       {{ (event.changeInScore*100)|number_format }}%</span>
                                 {% else %}
                                    <span class="text-master">
                                    <i class="fa small text-master"></i>
                                       {{ (event.changeInScore*100)|number_format }}%</span>
                                 {% endif %}
                              </h3>
                           </div>
                           <div class="card-footer clearfix">
                              <div class="pull-left">by <span class="text-{{ styleClass }}-dark">John Smith</span>
                              </div>
                              <div class="pull-right hint-text">
                                 Apr 23
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="event-date">
                           <h6 class="font-montserrat all-caps hint-text m-t-0">{{ event.eventType }}</h6>
                           <small class="fs-12 hint-text">{{ event.createdAt|ago }}</small>
                        </div>
                     </div>
                     <!-- timeline-content -->
                  </div>

               {% endfor %}
            {% endif %}

            <!-- timeline-block -->
         </section>
         <!-- timeline -->
      </div>
      <!-- -->
   </div>

{% endblock %}
{% block javascripts %}
   <script src="{{ asset('bundles/kellerwilliamscareers/assets/js/timeline.js') }}" type="text/javascript"></script>
{% endblock %}