{% extends '::base.html.twig' %}
{% block body %}
    <br>
    <section id="content-wrapper">

        <!-- .container_12 start -->
        <div class="container_12">

            <section class="entry-note">
                <h1>Register <span class="text-color">Your Market Center!</span></h1>
                <p>Step <b>2</b> of 2</p>
            </section>

            <article class="grid_6">

                    <form action="{{ path('_kw_mc_payment') }}" method="post" {{ form_enctype(form) }} class="Apply">

                        {{ form_errors(form.creditcardNumber) }}
                        {{ form_errors(form.expirationMonth) }}
                        {{ form_errors(form.expirationYear) }}
                        {{ form_errors(form) }}


                        <fieldset>
                            {{ form_label(form.creditcardNumber, '*Credit Card Number:') }}
                            {{ form_widget(form.creditcardNumber, { 'attr': {'class': 'wpcf7-text'}}) }}
                        </fieldset>

                        <fieldset>
                            {{ form_label(form.expirationMonth, '*Exp Month:') }}
                            {{ form_widget(form.expirationMonth, { 'attr': {'class': 'wpcf7-text'}}) }}
                        </fieldset>

                        <fieldset>
                            {{ form_label(form.expirationYear, '*Exp Year:') }}
                            {{ form_widget(form.expirationYear, { 'attr': {'class': 'wpcf7-text'}}) }}
                        </fieldset>

                        <fieldset>
                            {{ form_rest(form) }}
                        </fieldset>

                        <fieldset>
                            <input type="submit" value="Sign Up!" class="wpcf7-submit"/>
                        </fieldset>
                    </form>

            </article>

            <article class="grid_6">
                <p>reason to join here</p>
            </article>


        </div>

    </section>

{% endblock %}
{% block javascripts %}
{% endblock %}