{% extends '::base.html.twig' %}
{% block body %}
    <br>
    <section id="content-wrapper">

        <!-- .container_12 start -->
        <div class="container_12">

            <!-- .entry-note start -->
            <section class="entry-note">
                <h1>Register <span class="text-color">Your Market Center!</span></h1>
                <p>Step <b>1</b> of 2</p>
            </section><!-- entry-note end -->

            <!-- .grid_12 start -->
            <article class="grid_6">

                    <form action="{{ path('_kw_mc_register') }}" method="post" {{ form_enctype(form) }} class="Apply wpcf7">
                        {{ form_errors(form.name) }}
                        {{ form_errors(form.description) }}
                        {{ form_errors(form.principleFirstName) }}
                        {{ form_errors(form.principleLastName) }}
                        {{ form_errors(form.principleEmail) }}
                        {{ form_errors(form) }}

                            <fieldset>
                                {{ form_label(form.name, '*Market Center Name:') }}
                                {{ form_widget(form.name, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                            <fieldset>
                                {{ form_label(form.address, '*Market Center Address:') }}
                                {{ form_widget(form.address, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                            <fieldset>
                                {{ form_label(form.zip, '*Market Center Zip:') }}
                                {{ form_widget(form.zip, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                            <fieldset>
                                {{ form_label(form.description, '*Market Center Description:') }}
                                {{ form_widget(form.description, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                            <fieldset>
                                {{ form_label(form.principleFirstName, '*Your First Name:') }}
                                {{ form_widget(form.principleFirstName, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                            <fieldset>
                                {{ form_label(form.principleLastName, '*Your Last Name:') }}
                                {{ form_widget(form.principleLastName, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                            <fieldset>
                                {{ form_label(form.principleEmail, '*Your E-Mail:') }}
                                {{ form_widget(form.principleEmail, { 'attr': {'class': 'wpcf7-text'}}) }}
                            </fieldset>

                                                <fieldset>
                            {{ form_rest(form) }}
                                                </fieldset>

                            <input type="submit" value="Add Payment &raquo;" class="wpcf7-submit"/>

                    </form>
            </article>

            <article class="grid_6">
                <p>reason to join here</p>
            </article>


        </div>

    </section>

{% endblock %}
{% block javascripts %}
{% endblock %}