<div id="footer-wrapper" class="clearfix">

    <!-- #footer -->
    <footer id="footer" class="container_12">


        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">
            <!-- .widget pi_recent_posts start -->
            <li class="widget pi_recent_posts">
                <div class="title">
                    <h5>latest posts</h5>
                </div>

                <ul class="footer-blog">
                    <li>
                        <div class="meta">
                            <a class="icon-edit"></a>
                        </div>

                        <div class="post">
                            <a href="blog-single.html"> Nam libero tempore, </a>
                            <p class="info">26 MARCH 2013, <a href="blog-single.html">0 COMMENTS</a></p>
                        </div>
                    </li>

                    <li>
                        <div class="meta">
                            <a class="icon-link"></a>
                        </div>

                        <div class="post">
                            <a href="blog-single.html">Temporibus autem quibusdam, </a>
                            <p class="info">26 MARCH 2013, <a href="blog-single.html">2 COMMENTS</a></p>
                        </div>
                    </li>

                    <li>
                        <div class="meta">
                            <a class="icon-camera"></a>
                        </div>

                        <div class="post">
                            <a href="blog-single.html">Excepteur sint occaecat cupid, </a>
                            <p class="info">26 MARCH 2013, <a href="blog-single.html">2 COMMENTS</a></p>
                        </div>
                    </li>
                </ul>


            </li><!-- .widget pi_recent_posts end -->
        </ul><!-- .footer-widget-container end -->

        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">

            <!-- .widget.widget_text start -->
            <li class="widget widget_text">
                <div class="title">
                    <h5>get in touch</h5>
                </div>
                <p>
                    If you have any questions don't hesitate to contact us
                </p>

                <br>

                <ul class="contact-info">
                    <li class="address">
                        <p>Address: Some street 123, Manhattan, New York, USA</p>
                    </li>

                    <li class="phone">
                        <p>Telephone: +00 123 5874</p>
                    </li>

                    <li class="mail">
                        <p>Email: <a href="mailto:support@pixel-industry.com">info@business.com</a></p>
                    </li>
                </ul>
            </li><!-- .widget.widget_text end -->
        </ul><!-- .footer-widget-container end -->

        <!-- .footer-widget-container start -->
        <ul class="footer-widget-container grid_3">

            <!-- .widget.widget_text start -->
            <li class="widget widget_text">
                <div class="title">
                    <h5>newsletter subscribe</h5>
                </div>

                <p>
                    Stay up to date with latest news from our company.
                    We promise we won’t spam you.
                </p>

                <br>

                <form class="newsletter">
                    <input type="email" class="email" placeholder="Enter your email here...">
                    <input type="submit" class="submit" value="SEND">
                </form>
            </li><!-- .widget.widget_text end -->

        </ul><!-- footer-widget-container end -->
    </footer><!-- #footer end -->

    <!-- .container_12.copyright-container start -->
    <div class="container_12 copyright-container">

        <!-- .grid_12 start -->
        <div class="grid_12" style="margin-bottom: 0px;">

            <div class="grid_6 alpha">
                <p>
                    Copyright Metropolis 2013. Designed by Pixel industry. All rights reserved.
                </p>
            </div>

            <div class="grid_6 omega">
                <ul class="footer-breadcrumbs">
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">MC Login</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">MC Sign Up</a>
                    </li>
                    <li>
                        <a href="index.html">Home</a>
                    </li>

                    <li>
                        <a href="about.html">About</a>
                    </li>

                    <li>
                        <a href="portfolio1.html">Portfolio</a>
                    </li>

                    <li>
                        <a href="blog.html">Blog</a>
                    </li>

                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div><!-- .grid_6 omega end -->
        </div><!-- .grid_12 end -->
    </div><!-- .container_12.copyright-container end -->
</div>

<!-- scripts -->
<script  src="{{ asset('bundles/kellerwilliamscareers/js/jquery-1.8.3.js') }}"></script> <!-- jQuery library -->
<script  src="{{ asset('bundles/kellerwilliamscareers/js/jquery.placeholder.min.js') }}"></script><!-- jQuery placeholder fix for old browsers -->
<script  src="{{ asset('bundles/kellerwilliamscareers/js/jquery.carouFredSel-6.0.0-packed.js') }}"></script><!-- CarouFredSel carousel plugin -->
<script  src="{{ asset('bundles/kellerwilliamscareers/js/jquery.nivo.slider.js') }}"></script><!-- nivo slider -->
<script  src="{{ asset('bundles/kellerwilliamscareers/js/jquery.touchSwipe-1.2.5.js') }}"></script><!-- support for touch swipe on mobile devices -->
<script  src="{{ asset('bundles/kellerwilliamscareers/js/include.js') }}"></script> <!-- jQuery custom options -->
