{% extends '::base.html.twig' %}
{% block body %}

    <div class="rs-wrapper">

        <div class="fullwidthbanner-container">

            <div class="fullwidthbanner tp-simpleresponsive" style="height: 443px;">
                <ul style="display: block;">

                    <li data-transition="slotzoom-horizontal" data-slotamount="15" style="visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                        <div class="slotholder"><img src="{{ asset('bundles/kellerwilliamscareers/stockphotos/whitehouse.jpg') }}" alt="background" class="defaultimg" style="width: 1920px; height: 413px; position: absolute; left: -455.5px; top: 0px; opacity: 1;"></div>
                        <div class="caption lfl regular_title tp-caption start" data-x="335" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack" style="font-size: 30px; padding: 3px 5px; margin: 0px; border: 0px; line-height: 32px; white-space: nowrap; opacity: 1; left: 369.5px; top: 90px; transform: scale(1, 1) rotate(0deg); visibility: visible;">Clever Tagling Here</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="390" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack" style="font-size: 18px; padding: 7px 15px 7px 25px; margin: 0px; border: 0px; line-height: 15px; white-space: nowrap; opacity: 1; left: 424.5px; top: 160px; transform: scale(1, 1) rotate(0deg); visibility: visible;">Subtag 1</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="390" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack" style="font-size: 18px; padding: 7px 15px 7px 25px; margin: 0px; border: 0px; line-height: 15px; white-space: nowrap; opacity: 1; left: 424.5px; top: 202px; transform: scale(1, 1) rotate(0deg); visibility: visible;">Subtag 2</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="390" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack" style="font-size: 18px; padding: 7px 15px 7px 25px; margin: 0px; border: 0px; line-height: 15px; white-space: nowrap; opacity: 1; left: 424.5px; top: 242px; transform: scale(1, 1) rotate(0deg); visibility: visible;">Annie Rocks!!</div>
                    </li>

                    <li data-transition="3dcurtain-vertical" data-slotamount="10">
                        <div class="slotholder"><img src="{{ asset('bundles/kellerwilliamscareers/img/slider/slide12.jpg') }}" alt="background" class="defaultimg" style="width: 1920px; height: 413px; position: absolute; left: -455.5px; top: 0px; opacity: 0;"></div>
                        <div class="caption lfl regular_title2 tp-caption start" data-x="460" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">Built For:</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="508" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">Professional Business Sites</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="508" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">Creative Portfolio Layouts</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="508" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">All Types of Small Business</div>
                    </li>

                    <li data-transition="3dcurtain-horizontal" data-slotamount="10" style="visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 0;">
                        <div class="slotholder"><img src="{{ asset('bundles/kellerwilliamscareers/img/slider/slide13.jpg') }}" alt="background" class="defaultimg" style="width: 1920px; height: 413px; position: absolute; left: -455.5px; top: 0px; opacity: 0;"></div>
                        <div class="caption lfl regular_title3 tp-caption start" data-x="460" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack" style="left: -457px;">Creative Side of Metropolis</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="508" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack" style="left: 1029px;">Showcase Your Creative Work</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="508" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack" style="left: 1029px;">Grab Attention from Your Clients</div>
                        <div class="caption lfr regular_subtitle tp-caption start" data-x="508" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack" style="left: 1029px;">Choose One of 5 Color Styles</div>
                    </li>
                </ul>
                <div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; width: 43.7509665854344%; overflow: hidden;"></div></div>
            <div style="visibility: visible; position: absolute; left: 0px; top: 206px; opacity: 0;" class="tp-leftarrow tparrows round large"></div><div style="visibility: visible; position: absolute; left: 960px; top: 219px; opacity: 0;" class="tp-rightarrow tparrows round large"></div></div>
    </div>

    <section id="content-wrapper">

        <!-- .container_12 start -->
        <div class="container_12">
            <!-- .grid_12 start -->
            <article class="grid_12">

                <!-- .entry-note start -->
                <section class="entry-note">
                    <h1>Welcome to <span class="text-color">Metropolis</span>. Take a Second and Explore it.</h1>
                    <p>
                        We proudly present you Metropolis, very clean
                        corporate theme which is perfect for company website.
                        Metropolis comes with lot of options  regarding color
                        styles and different layouts.
                    </p>
                </section><!-- entry-note end -->
            </article><!-- .grid_12 end -->

            <!-- .grid_4 start -->
            <article class="grid_4">
                <div class="service-box-2-container">
                    <div class="icon">
                        <i class="icon-desktop"></i>
                    </div>

                    <section class="service-box-2">
                        <div class="title">
                            <a href="services.html">
                                <h3>Responsive Design</h3>
                            </a>
                            <span>Looks awesome on any mobile device</span>
                        </div>

                        <div class="description">
                            <p>
                                Metropolis was built with mobile look and feel
                                in mind to provide you best user experience.
                                Simply try to resize your browser and you’ll
                                know what we mean.
                            </p>
                        </div>

                        <div class="read-more-btn">
                            <a href="#">Read more</a>
                            <span class="plus">+</span>
                        </div>

                    </section><!-- .service-box-2 end -->
                </div>

            </article><!-- .grid_4 end -->

            <!-- .grid_4 start -->
            <article class="grid_4">
                <div class="service-box-2-container">
                    <div class="icon">
                        <i class="icon-cogs"></i>
                    </div>

                    <section class="service-box-2">
                        <div class="title">
                            <a href="services.html">
                                <h3>Easy to Customize</h3>
                            </a>
                            <span>User friendly, clean code, easy to use</span>
                        </div>

                        <div class="description">
                            <p>
                                Metropolis was built with mobile look and feel
                                in mind to provide you best user experience.
                                Simply try to resize your browser and you’ll
                                know what we mean.
                            </p>
                        </div>

                        <div class="read-more-btn">
                            <a href="#">Read more</a>
                            <span class="plus">+</span>
                        </div>

                    </section><!-- .service-box-2 end -->
                </div>

            </article><!-- .grid_4 end -->

            <!-- .grid_4 start -->
            <article class="grid_4">
                <div class="service-box-2-container">
                    <div class="icon">
                        <i class="icon-group"></i>
                    </div>

                    <section class="service-box-2">
                        <div class="title">
                            <a href="services.html">
                                <h3>Excellent Support</h3>
                            </a>
                            <span>We provide support for all our items</span>
                        </div>

                        <div class="description">
                            <p>
                                Metropolis was built with mobile look and feel
                                in mind to provide you best user experience.
                                Simply try to resize your browser and you’ll
                                know what we mean.
                            </p>
                        </div>

                        <div class="read-more-btn">
                            <a href="#">Read more</a>
                            <span class="plus">+</span>
                        </div>

                    </section><!-- .service-box-2 end -->
                </div>
            </article><!-- .grid_4 end -->

            <div class="clearfix"></div>

            <!-- .grid_12 carousel-portfolio end -->
            <article class="grid_12 carousel-portfolio">

                <section class="section-title center">
                    <div class="title-container">
                        <section class="title">
                            <h2>Our Portfolio</h2>
                            <span>Some really nice projects</span>
                        </section>
                    </div>
                </section><!-- .section-title .center end -->

                <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 960px; height: 222px; margin: 0px; overflow: hidden;"><ul id="foo2" class="carousel-li" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4800px; height: 222px;">
                        <li class="portfolio-style-2">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-1.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-1.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Photography</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-2.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-2.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Web Design</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-3.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-3.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Graphic Design</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-4.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-4.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Photography</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2" data-alpha="webdesign">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-5.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-5.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Web Design</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-6.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-6.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Web Design</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-7.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-7.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Web Design</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->

                        <li class="portfolio-style-2" data-alpha="graphicdesign">
                            <figure class="portfolio clearfix">
                                <div class="portfolio-image">
                                    <a href="portfolio-single.html">
                                        <img src="img/portfolio/thumb/portfolio-8.jpg" width="220" alt="portfolio">
                                    </a>

                                    <div class="portfolio-hover">
                                        <div class="mask"></div>
                                        <ul>
                                            <li class="portfolio-zoom">
                                                <a href="img/portfolio/1col/portfolio-8.jpg" data-gal="prettyPhoto[pp_gallery]">zoom
                                                </a>
                                            </li>

                                            <li class="portfolio-single">
                                                <a href="portfolio-single.html">single</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <figcaption>
                                    <a class="title">Portfolio Project Title</a>
                                    <span class="subtitle">Graphic Design</span>
                                </figcaption>
                            </figure>
                        </li><!-- portfolio-style-2 end -->
                    </ul></div><!-- .carousel-li end -->

                <div class="clearfix"></div>

                <div class="carousel-pagination" id="foo2_pag" style="display: block;"><a href="#" class="selected"><span>1</span></a><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a></div>

            </article><!-- .grid_12 carousel-portfolio end -->

            <article class="grid_12 latest-blog-posts" style="margin-bottom: 0px;">
                <!-- .section-title .center start -->
                <section class="section-title center">

                    <!-- .ttile-container .carousel start -->
                    <div class="title-container">
                        <section class="title">
                            <h2>Latest News</h2>
                            <span>Our most interesting news</span>
                        </section>
                    </div><!-- .title-container .carousel end -->
                </section><!-- .section-title .center end -->

                <!-- .grid_6 start -->
                <article class="grid_6 alpha">
                    <section class="post-info">
                        <img src="img/blog/small-1.jpg" alt="blog-image">

                        <div class="comments">
                            <a href="blog-single.html">2 comments</a>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="post-meta">
                            <div class="category">
                                <i class="icon-edit"></i>
                            </div>

                            <div class="title-date">
                                <a href="blog-single.html">
                                    <h6>There are so many good reasons</h6>
                                </a>
                                <span class="date">april 22, 2013</span>
                            </div>
                        </div>

                        <p>
                            Typi non habent claritatem insitam; est usus
                            legentis in iis qui facit eorum claritatem.
                            Investigationes demonstraverunt lectores
                            legere me lius...
                        </p>

                        <div class="read-more-btn">
                            <a href="blog-single.html">Read more</a>
                            <span class="plus">+</span>
                        </div>
                    </section><!-- .post-body end -->

                </article><!-- .grid_6 end -->

                <!-- .grid_6 start -->
                <article class="grid_6 omega">
                    <section class="post-info">
                        <img src="img/blog/small-2.jpg" alt="blog-image">

                        <div class="comments">
                            <a href="blog-single.html">2 comments</a>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="post-meta">
                            <div class="category">
                                <i class="icon-edit"></i>
                            </div>

                            <div class="title-date">
                                <a href="blog-single.html">
                                    <h6>Why Choose Metropolis</h6>
                                </a>

                                <span class="date">april 22, 2013</span>
                            </div>
                        </div>

                        <p>
                            Typi non habent claritatem insitam; est usus
                            legentis in iis qui facit eorum claritatem.
                            Investigationes demonstraverunt lectores
                            legere me lius...
                        </p>

                        <div class="read-more-btn">
                            <a href="blog-single.html">Read more</a>
                            <span class="plus">+</span>
                        </div>
                    </section><!-- .post-body end -->

                </article><!-- .grid_6 end -->

                <div class="clearfix"></div>

                <!-- .grid_6 start -->
                <article class="grid_6 alpha">
                    <section class="post-info">
                        <img src="img/blog/small-3.jpg" alt="blog-image">

                        <div class="comments">
                            <a href="blog-single.html">2 comments</a>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="post-meta">
                            <div class="category">
                                <i class="icon-edit"></i>
                            </div>

                            <div class="title-date">
                                <a href="blog-single.html">
                                    <h6>Clever Tagline Here</h6>
                                </a>

                                <span class="date">april 22, 2013</span>
                            </div>
                        </div>

                        <p>
                            Typi non habent claritatem insitam; est usus
                            legentis in iis qui facit eorum claritatem.
                            Investigationes demonstraverunt lectores
                            legere me lius...
                        </p>

                        <div class="read-more-btn">
                            <a href="blog-single.html">Read more</a>
                            <span class="plus">+</span>
                        </div>
                    </section><!-- .post-body end -->

                </article><!-- .grid_6 end -->

                <!-- .grid_6 start -->
                <article class="grid_6 omega">
                    <section class="post-info">
                        <img src="img/blog/small-4.jpg" alt="blog-image">

                        <div class="comments">
                            <a href="blog-single.html">2 comments</a>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="post-meta">
                            <div class="category">
                                <i class="icon-edit"></i>
                            </div>

                            <div class="title-date">
                                <a href="blog-single.html">
                                    <h6>Ideal Choice for Your Business</h6>
                                </a>

                                <span class="date">april 22, 2013</span>
                            </div>
                        </div>

                        <p>
                            Typi non habent claritatem insitam; est usus
                            legentis in iis qui facit eorum claritatem.
                            Investigationes demonstraverunt lectores
                            legere me lius...
                        </p>

                        <div class="read-more-btn">
                            <a href="blog-single.html">Read more</a>
                            <span class="plus">+</span>
                        </div>
                    </section><!-- .post-body end -->

                </article><!-- .grid_6 end -->
            </article><!-- .grid_12 end -->

            <!-- .grid_8 start -->
            <article class="grid_8" style="margin-bottom: 0px;">
                <!-- .section-title .center start -->
                <section class="section-title center">

                    <!-- .ttile-container .carousel start -->
                    <div class="title-container">
                        <section class="title">
                            <h2>Why Choose Us</h2>
                            <span>So many good reasons</span>
                        </section>
                    </div><!-- .title-container .carousel end -->
                </section><!-- .section-title .center end -->

                <!-- .tabs start -->
                <ul class="grid_3 alpha tabs vertical">
                    <li class="active">
                        <a href="#tab1">
                            <i class="icon-desktop"></i>
                            Responsive design
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab2">
                            <i class="icon-group"></i>
                            Excellent Support
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab3">
                            <i class="icon-leaf"></i>
                            Font Awesom Icons
                        </a>
                    </li>

                    <li class="">
                        <a href="#tab4">
                            <i class="icon-edit"></i>
                            Unlimited Color Options
                        </a>
                    </li>
                </ul><!-- .tabs end -->

                <!-- .tabs-content-wrap vertical start -->
                <section class="grid_5 omega tab-content-wrap vertical">

                    <!-- #tab1 content start -->
                    <div id="tab1" class="tab-content" style="display: block;">
                        <img src="{{ asset('bundles/kellerwilliamscareers/img/about/responsive.png') }}" class="float-left" alt="image">

                        <p>
                            Lorem ipsum dolor sit amet, cosectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat volutpat. Ut wisi enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper
                            suscipit loboris nisl ut aliquip ex ea commodo.
                        </p>

                    </div><!-- #tab1 content end -->

                    <!-- tab2 content start -->
                    <div id="tab2" class="tab-content" style="display: none;">
                        <img src="{{ asset('bundles/kellerwilliamscareers/img/about/support.png') }}" class="float-left" alt="image">

                        <p>
                            Lorem ipsum dolor sit amet, cosectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat volutpat. Ut wisi enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper
                            suscipit loboris nisl ut aliquip ex ea commodo.
                        </p>

                    </div><!-- #tab2 content end -->

                    <!-- tab3 content start -->
                    <div id="tab3" class="tab-content" style="display: none;">
                            <span class="text-dark text-big">Over 200 amazing icons
                            provided by Font Awesome! Use the ones you like the most.</span>
                        <br><br>
                        <p>
                            Integer mollis elementum odio, eget
                            consectetur arcu condi acm ent um sit amet.
                            Donec eui smod, justo quis vulputate
                            varius, leo turpis pretium risus, et
                            molestie mauris juo sit amet.
                            It is a long established fact that a reader
                            will be distracted by the readable content
                            of a page when looking at its layout.
                            Lorem ipsum dolor sit amet nec, consectetuer
                            adipiscing elit. Aenean commodo ligula eget dolor.
                        </p></div><!-- #tab3 content end -->

                    <!-- tab3 content start -->
                    <div id="tab4" class="tab-content" style="display: none;">
                            <span class="text-dark text-big">Three amazing theme layouts with five
                                predefined color options.</span>
                        <br><br>
                        <p>
                            Integer mollis elementum odio, eget
                            consectetur arcu condi acm ent um sit amet.
                            Donec eui smod, justo quis vulputate
                            varius, leo turpis pretium risus, et
                            molestie mauris juo sit amet.
                            It is a long established fact that a reader
                            will be distracted by the readable content
                            of a page when looking at its layout.
                            Lorem ipsum dolor sit amet nec, consectetuer
                            adipiscing elit. Aenean commodo ligula eget dolor.
                        </p></div><!-- #tab3 content end -->
                </section><!-- .tabs-content-wrap .vertical end -->
            </article><!-- .grid_8 end -->

            <!-- .grid_4 start -->
            <article class="grid_4">
                <!-- .section-title .center start -->
                <section class="section-title center">

                    <!-- .ttile-container .carousel start -->
                    <div class="title-container">
                        <section class="title">
                            <h2>Our Clients</h2>
                            <span>What they say about us</span>
                        </section>
                    </div><!-- .title-container .carousel end -->
                </section><!-- .section-title .center end -->

                <section class="testimonials-alternative">
                    <ul class="testimonials-alternative-nav">
                        <li><a href="#content-1" class="active"><img src="{{ asset('bundles/kellerwilliamscareers/img/about/testimon-1.jpg') }}" alt="testimonial 1"></a></li>
                        <li><a href="#content-2"><img src="{{ asset('bundles/kellerwilliamscareers/img/about/testimon-2.jpg" alt="testimonial 2') }}"></a></li>
                        <li><a href="#content-3"><img src="{{ asset('bundles/kellerwilliamscareers/img/about/testimon-3.jpg" alt="testimonial 3') }}"></a></li>
                        <li><a href="#content-4"><img src="{{ asset('bundles/kellerwilliamscareers/img/about/testimon-4.jpg" alt="testimonial 4') }}"></a></li>
                    </ul>

                    <section class="testimonials-alternative-content">
                        <div id="content-1" class="content active">
                            <p class="text">
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem investigationes.
                            </p>
                            <p class="author">- Mark Mathewson, info@business.com</p>
                        </div>
                        <div id="content-2" class="content">
                            <p class="text">
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                            </p>
                            <p class="author">- Mark Mathewson, info@business.com</p>
                        </div>
                        <div id="content-3" class="content">
                            <p class="text">
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                            </p>
                            <p class="author">- Mark Mathewson, info@business.com</p>
                        </div>
                        <div id="content-4" class="content">
                            <p class="text">
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                                Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                            </p>
                            <p class="author">- Mark Mathewson, info@business.com</p>
                        </div>
                    </section>
                </section>
            </article><!-- .grid_4 end -->

        </div><!-- .container_12 end -->

    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/kellerwilliamscareers/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kellerwilliamscareers/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

    <script>
        /* <![CDATA[ */
        // NEWSLETTER FORM AJAX SUBMIT
        $('.newsletter .submit').on('click', function(event){
            event.preventDefault();
            var email = $('.email').val();
            var form_data = new Array({ 'Email' : email});
            $.ajax({
                type: 'POST',
                url: "contact.php",
                data: ({'action': 'newsletter', 'form_data' : form_data})
            }).done(function(data) {
                alert(data);
            });
        });

        // REVOLUTION SLIDER
        jQuery(document).ready(function() {

            if (jQuery.fn.cssOriginal !== undefined)   // CHECK IF fn.css already extended
                jQuery.fn.css = jQuery.fn.cssOriginal;

            jQuery('.fullwidthbanner').revolution(
                    {
                        delay: 50000,
                        startheight: 413,
                        startwidth: 940,
                        hideThumbs: 200,
                        thumbWidth: 100,
                        thumbHeight: 50,
                        thumbAmount: 5,
                        navigationType: "none",
                        navigationArrows: "verticalcentered",
                        navigationStyle: "round",
                        navigationHAlign: "right",
                        navigationVAlign: "top",
                        navigationHOffset: 0,
                        navigationVOffset: 20,
                        soloArrowLeftHalign: "left",
                        soloArrowLeftValign: "center",
                        soloArrowLeftHOffset: 20,
                        soloArrowLeftVOffset: 0,
                        soloArrowRightHalign: "right",
                        soloArrowRightValign: "center",
                        soloArrowRightHOffset: 20,
                        soloArrowRightVOffset: 0,
                        touchenabled: "on",
                        onHoverStop: "on",
                        navOffsetHorizontal: 0,
                        navOffsetVertical: 20,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        hideSliderAtLimit: 0,
                        stopAtSlide: -1,
                        stopAfterLoops: -1,
                        shadow: 0,
                        fullWidth: "on"

                    });
        });

        // PORTFOLIO CAROUSEL
        $("#foo2").carouFredSel({
            auto: false,
            scroll: 1,
            pagination: "#foo2_pag",
            width: 'variable',
            height: 'variable',
            items: {
                width: 'auto',
                visible: 4
            }
        });

        // TESTIMONIALS ALTERNATIVE VERSION
        $('.testimonials-alternative-nav').on('click', 'a', function(e){
            e.preventDefault();
            var $current = $(this);
            $('.testimonials-alternative-nav a').removeClass();
            $('.testimonials-alternative-content .content').hide();
            $current.addClass('active');
            var contentID = $current.attr('href');
            $('.testimonials-alternative-content').find(contentID).fadeIn();
        });

        /* ]]> */
    </script>

{% endblock %}
