
<!-- #nav-container start -->
<section id="nav-container">

    <section class="container_12">
        <section class="grid_12">
            <!-- #nav start -->
            <nav id="nav">
                <ul style="play: none">

                    {% if mc is defined %}
                        <li class="current-menu-item">
                            <span class="nav-icon icon-desktop"></span>
                            <a href="{{ path('_kw_mc', {uid: mc.uid}) }}">{{ mc.name }}</a>
                        </li>
                    {% else %}
                        <li class="current-menu-item">
                            <span class="nav-icon icon-desktop"></span>
                            <a href="{{ path('_home') }}">Home</a>
                        </li>
                    {% endif %}

                    {% if mc is defined %}
                        <li>
                            <span class="nav-icon icon-tags"></span>
                            <a href="#">News</a>
                            <ul style="visibility: hidden; display: block;">
                                <li><a href="portfolio1.html">{{ mc.name }} News</a></li>
                                <li><a href="portfolio1.html">Keller Williams News</a></li>
                                <li><a href="portfolio2.html">Industry News</a></li>
                                <li><a href="portfolio2-alt.html">All News</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <span class="nav-icon icon-tags"></span>
                            <a href="#">News</a>
                            <ul style="visibility: hidden; display: block;">
                                <li><a href="portfolio1.html">Keller Williams News</a></li>
                                <li><a href="portfolio2.html">Industry News</a></li>
                                <li><a href="portfolio2-alt.html">All News</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li>
                        <span class="nav-icon icon-smile"></span>
                        <a href="#">Benefits</a>

                        <ul style="display: none;">
                            <li><a href="blog.html">Benefit Cat 1</a></li>
                            <li><a href="blog-alt.html">Benefit Cat 2</a></li>
                            <li><a href="blog-alt.html">Benefit Cat 3</a></li>
                            <li><a href="blog-alt.html">Benefit Cat 4</a></li>
                        </ul>
                    </li>

                    {% if mc is defined %}
                        <li>
                            <span class="nav-icon icon-calendar"></span>
                            <a href="{{ path('_kw_mc_events', { uid: mc.uid }) }}">MC Events</a>
                        </li>
                    {% else %}
                        <li>
                            <span class="nav-icon icon-calendar"></span>
                            <a href="#">Events</a>
                        </li>
                    {% endif %}

                    {% if mc is defined %}
                        <li>
                            <span class="nav-icon icon-user"></span>
                            <a href="{{ path('_kw_mc_contact', { uid: mc.uid }) }}">Contact Us</a>
                        </li>
                    {% endif %}

                    {% if mc is not defined %}
                    <li>
                        <span class="nav-icon icon-map-marker"></span>
                        <a href="{{ path('_kw_find_office') }}">Find an Office</a>
                    </li>
                    {% endif %}

                    {% if mc is defined %}
                        <li>
                            <span class="nav-icon icon-double-angle-right"></span>
                            <a href="{{ path('_kw_mc_apply', {uid: mc.uid}) }}"><b>Apply Today</b></a>
                        </li>
                    {% else %}
                        <li>
                            <span class="nav-icon icon-double-angle-right"></span>
                            <a href="{{ path('fos_user_registration_register') }}"><b>Apply Today</b></a>
                        </li>
                    {% endif %}
                </ul>
            </nav><!-- #nav end -->

            <!-- responsive navigation start -->
            <select id="nav-responsive">
                <option selected="" value="">Site Navigation...</option>

                <option value="#">Home</option>
                <option value="#">News</option>
                <option value="#">Benefits</option>
                <option value="#">Events</option>
                <option value="#">Find an Office</option>
                <option value="#">Apply</option>

            </select><!-- responsive navigation end -->

            <section id="search-box">
                <form action="#" method="get">
                    <input id="m_search" name="s" type="text" placeholder="Type and hit enter...">
                    <input class="search-submit" type="submit">
                </form>
            </section>
        </section><!-- .grid_12 end -->
    </section><!-- .container_12 end -->

</section><!-- #nav-container end -->